/*This is the square image on the log-in page that shows "my first blog"*/
.circle {
    width: 450px;
    height: 450px;
    display: table-cell;
    border-radius: 500px;
    vertical-align: middle;
    font-size: 50px;
    color: rgb(215, 215, 98);
    text-align: center;
    background: rgb(89, 37, 138);
    max-width: 100%;
    max-height: 768px;
    box-shadow: 5px 5px rgb(170, 196, 64);  

  }
  .clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }

/* the following help format the questions in the form. */
form {
    max-width: 400px;
  }
  

  form p {
    margin: 3% 0;
  }
  
  label {
    display: block;
  }
  
  button {
    padding: 1% 2%;
    color: #fff;
    background-color: #13293d;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }
  .card {
    background: linear-gradient(180deg, rgb(112, 170, 229), rgb(235, 181, 80) );
    border: 1px solid #eceff1;
    border-radius: 20px;
    box-shadow: 8px 8px rgb(206, 89, 21);
    margin: -25%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    padding-right: 100px;
    width: 500px;
    height: 500px;
    overflow: hidden;
    float: right;
    max-width: 768px;

  }
  .card h2 {
    color: darkblue;
    text-align: center;
  }
  .card h3 {
    color: darkblue;
  
  }
  .card input {
    display: flex;
    justify-items: center;
  }
    
  
  .card::after {
    content: " ";
    display: block;
    clear: both;
  }
/* Utilized aside to have a for styling and separating sections */
section {
    flex: 1;
    padding: 30px;
    padding-left: 125px;
    margin-left: 20px;
    text-align: start;
    float: left;
    width: 25%;
    
  }
  article {
    width: 75%;
  .row {
    color: #13293d;
  }

  }
  @media screen and (min-width: 640px) {
    .col-sm-auto {
      flex-grow: 1;
      flex-basis: 0;
    }
    .col-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
        color: #13293d;
      }
      a{
        color: rgb(10, 1, 1);
    }